---
import { getCollection } from "astro:content";

// Fetch all projects
const projects = await getCollection("projects");
---

<section class="main__container" id="projects" tabindex="-1">
  <h2 class="mt-0">Projects</h2>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
    {
      projects.map((project) => (
        <a
          href={`/projects/${project.slug}`}
          class="relative group"
          aria-label={`View details for ${project.data.title}`}
        >
          <img
            src={project.data.image.url}
            alt={project.data.image.alt || `${project.data.title} image`}
            class="projects"
          />
          <div class="overlay">
            <div
              class="flex flex-col items-start text-start opacity-0 translate-y-5 
            group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out"
            >
              <span>{project.data.title}</span>
              <div class="mt-1">
                <p class="text-sm lg:text-base font-semibold">{project.data.description || "No description available."}</p>
                <div class="flex mt-1 mx-0">
                  {project.data.stack?.split(",").map((tech) => (
                    <p class="badge">{tech.trim()}</p>
                  ))}
                </div>
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</section>
