---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="main" id="projects">
    <Navbar />
    <div class="gif">
      <img alt="RaccoonLaptopGif" src="/laptop.webp" />
    </div>
    <div class="main__container">
      <h2 class="mt-0">{frontmatter.title}</h2>
      <slot />
      <ul class="my-3 text-xs lg:text-base">
        <li class="hover:text-current py-1">
          <span class="badge">platform</span>{frontmatter.platform}
        </li>
        <li class="hover:text-current py-1">
          <span class="badge">stack</span>{frontmatter.stack}
        </li>
        <li class="py-1">
          <span class="badge">website</span><a
            class="hover:underline text-wisteria"
            href={frontmatter.website}
            target="_blank">{frontmatter.website}</a
          >
        </li>
        <li class="py-1">
          <span class="badge">github</span><a
            class="hover:underline text-wisteria"
            href={frontmatter.github}
            target="_blank">{frontmatter.github}</a
          >
        </li>
      </ul>
      <div class="flex justify-center items-center">
        <div class="flex flex-col space-y-3">
          <img
            class="rounded-2xl shadow-xl"
            src={frontmatter.worksImage1?.url || "default-image-url.jpg"}
            alt={frontmatter.worksImage1?.alt || "Default alt text"}
          />
          <img
            class="rounded-2xl shadow-xl"
            src={frontmatter.worksImage1?.url || "default-image-url.jpg"}
            alt={frontmatter.worksImage1?.alt || "Default alt text"}
          />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
