---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="main" id="projects">
    <Navbar />
    <div class="gif">
      <img alt="RaccoonLaptopGif" src="/laptop.webp" />
    </div>
    <div class="main__container">
      <h2 class="mt-0">{frontmatter.title}</h2>
      <slot />
      <ul class="my-3 text-xs lg:text-base font-normal text-gray-300 lg:font-semibold space-y-3">
        {
          frontmatter.platform && (
            <li class="hover:text-current">
              <span class="badge">platform</span> {frontmatter.platform}
            </li>
          )
        }
        {
          frontmatter.stack && (
            <li class="hover:text-current">
              <span class="badge">stack</span> {frontmatter.stack}
            </li>
          )
        }
        {
          frontmatter.website && (
            <li>
              <span class="badge">website</span>
              <a
                class="text-wisteria hover:text-violet-200 duration-300"
                href={frontmatter.website}
                target="_blank"
                rel="noopener noreferrer"
              >
                {frontmatter.website}
              </a>
            </li>
          )
        }
        {
          frontmatter.github && (
            <li>
              <span class="badge">github</span>
              <a
                class="text-wisteria hover:text-violet-200 duration-300"
                href={frontmatter.github}
                target="_blank"
                rel="noopener noreferrer"
              >
                {frontmatter.github}
              </a>
            </li>
          )
        }
      </ul>
      {
        frontmatter.image && (
          <div class="flex justify-center items-center">
            <div class="flex flex-col space-y-3">
              <img
                class="rounded-2xl shadow-xl"
                src={frontmatter.image.url}
                alt={frontmatter.image.alt || "Project work image"}
              />
            </div>
          </div>
        )
      }
    </div>
  </div>
  <script type="module" src="/src/animations.ts"></script>
</BaseLayout>
